.introduction-page {
  width: 100%;
  min-height: 100vh;
}

.introduction-header {
  width: 960px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}

.resume {
  background-color: oklch(21% 0.034 264.665);
  color: white;
  font-size: 20px;
  padding: 5px 10px;
}

.section-list {
  display: flex;
  font-size: 20px;
  gap: 30px;
}

.section-list li {
  list-style: none;
}

.main-contents {
  margin: 0 auto;
}

.resume-image img {
  width: 100%;
  height: 600px;
  padding-bottom: 40px;
  object-fit: cover;
}

.introduction-section {
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 4%;
  padding-right: 4%;
  width: 960px;
}

.introduction-section h3 {
  border-bottom: 2px solid black;
  font-size: 30px;
  margin: 0 auto;
  padding-bottom: 2px;
  width: fit-content;
}

.message {
  align-items: center;
  display: flex;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 4%;
  padding-right: 4%;
}

.image-circle img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.profile-image-section {
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 4%;
  padding-right: 4%;
  width: 960px;
}

.profile-image-section h3 {
  border-bottom: 2px solid black;
  font-size: 30px;
  margin: 0 auto;
  padding-bottom: 2px;
  width: fit-content;
}

.profile-image-boxes {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
}

.profile-image-box img {
  max-width: 100%;
}

.profile-image-box {
  text-align: center;
}

.introduction-footer {
  border-bottom: 2px solid black;
  margin-bottom: 50px;
  padding-top: 80px;
}

.introduction-footer > p {
  text-align: center;
  font-size: 10px;
}

/* スマホ版対応(幅:600px以下) */
@media (max-width: 600px) {
  .introduction-header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: auto;
  }
  .introduction-section {
    width: auto;
  }
  .message {
    display: flex;
    flex-direction: column;
  }
  .message h4 {
    text-align: center;
  }
  .profile-image-section {
    width: auto;
  }
  .profile-image-boxes {
    display: flex;
    flex-direction: column;
  }
}
